@{
    ViewBag.Title = "Home Page";
}

<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">Dashboard</h3>
        </div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
        </div>
        <div>
            <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <!-- Column -->
            <div class="col-lg-4">
                <div class="card-body">
                    <a href="chart-chart-js.html">
                        <img src="~/Content/assets/images/UMBICONSsmall/Box_Performance_and_appraisal.png">
                    </a>
                </div>
                <div class="card-body">
                    <a href="chart-chart-js.html">
                        <img src="~/Content/assets/images/UMBICONSsmall/Box_Exit.png">
                    </a>
                </div>
                <div class="card-body">
                    <a href="chart-chart-js.html">
                        <img src="~/Content/assets/images/UMBICONSsmall/Box_Leave_Management.png">
                    </a>
                </div>
            </div>
            <!-- Column -->
            <!-- Column -->
            <div class="col-lg-4">
                <div class="card-body">
                    <a href="chart-chart-js.html">
                        <img src="~/Content/assets/images/UMBICONSsmall/Box_Disciplinary.png">
                    </a>
                </div>
                <div class="card-body">
                    <a href="chart-chart-js.html">
                        <img src="~/Content/assets/images/UMBICONSsmall/Box_Expenses.png">
                    </a>
                </div>
                <div class="card-body">
                    <a href="chart-chart-js.html">
                        <img src="~/Content/assets/images/UMBICONSsmall/Box_Time_Management.png">
                    </a>
                </div>
            </div>
            <!-- Column -->
            <!-- Column -->
            <div class="col-lg-4">
                <div class="card-body">
                    <a href="chart-chart-js.html">
                        <img src="~/Content/assets/images/UMBICONSsmall/Box_HR.png">
                    </a>
                </div>
                <div class="card-body">
                    <a href="chart-chart-js.html">
                        <img src="~/Content/assets/images/UMBICONSsmall/Box_Service_Request.png">
                    </a>
                </div>
                <div class="card-body">
                    <a href="chart-chart-js.html">
                        <img src="~/Content/assets/images/UMBICONSsmall/Box_Recruitment.png">
                    </a>
                </div>
            </div>
            <!-- Column -->
        </div>
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->


        @section pagescript
            {
            <!-- This page plugins -->
            <!-- ============================================================== -->
            <!--sparkline JavaScript -->
            <script src="~/Content/assets/plugins/sparkline/jquery.sparkline.min.js"></script>
            <!--morris JavaScript -->
            <script src="~/Content/assets/plugins/raphael/raphael-min.js"></script>
            <script src="~/Content/assets/plugins/morrisjs/morris.min.js"></script>
            <!-- Chart JS -->
            <script src="~/Content/js/dashboard1.js"></script>
            }
